Source: apipe-metrics-daemon
Section: systems
Priority: extra
Maintainer: Nathan Nutter <nnutter@genome.wustl.edu>
Build-Depends: debhelper (>= 7.4), perl (>= 5.10), libmodule-build-perl

Package: apipe-metrics-daemon
Architecture: all
Depends: sudo, liblogfile-rotate-perl, libanyevent-graphite-perl, gc-legacy-libs
Description: APipe Metrics Daemon
 Collects metrics and reporting to Graphite at apipe-metrics.gsc.wustl.edu.
